* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*----------------------HOME-----------------------*/
/*propiedades del padre*/
.contenedor {
  height: 100vh;
  display: grid;
  grid-template-rows: 0.2fr 0.5fr 1fr 1fr 0.3fr;
  grid-template-areas: "header header"  "main main" "section section2" "section3 aside" "footer footer";
  gap: 5px; }

/*propiedades de las areas*/
header {
  grid-area: header;
  background-color: whitesmoke;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px; }

nav ul li {
  display: inline-block;
  font-size: 20px;
  list-style: none;
  margin-left: 10px;
  margin-right: 10px; }
  nav ul li a {
    text-decoration: none;
    color: gray; }

main {
  grid-area: main;
  background-color: rgba(73, 26, 26, 0.233); }

.mainP {
  font-size: 25px;
  color: black;
  text-align: center;
  font-family: 'Times New Roman', Times, serif; }

section {
  grid-area: section;
  background-color: rgba(73, 26, 26, 0.233);
  display: flex;
  justify-content: center;
  align-items: center; }
  section img {
    max-width: 540px;
    max-height: 300px;
    width: 100%;
    height: 100%;
    object-fit: cover; }

.section2 {
  grid-area: section2;
  background-color: rgba(73, 26, 26, 0.233);
  display: flex;
  justify-content: center;
  align-items: center; }
  .section2 img {
    max-width: 540px;
    max-height: 300px;
    width: 100%;
    height: 100%;
    object-fit: cover; }

.section3 {
  grid-area: section3;
  background-color: rgba(73, 26, 26, 0.233);
  display: flex;
  justify-content: center;
  align-items: center; }
  .section3 img {
    max-width: 540px;
    max-height: 300px;
    width: 100%;
    height: 100%;
    object-fit: cover; }

.section4 {
  display: none; }
  .section4 img {
    max-width: 540px;
    max-height: 300px;
    width: 100%;
    height: 100%;
    object-fit: cover; }

aside {
  grid-area: aside;
  background-color: rgba(73, 26, 26, 0.233); }

footer {
  grid-area: footer;
  background-color: whitesmoke;
  padding-top: 15px; }

footer p {
  font-size: 20px;
  display: flex;
  justify-content: center;
  text-align: center; }

/*-------------------CONTACTOS--------------------*/
.contenedorC {
  height: 100vh;
  display: grid;
  grid-template-rows: 0.12fr 0.4fr 1fr  0.2fr;
  grid-template-areas: "header header header"  "sectionF sectionF sectionF" "sectionC section2C section3C" "footer footer footer";
  gap: 3px; }

.sectionF {
  grid-area: sectionF; }

.section3C img {
  width: 30vh;
  height: 30vh; }

.section3C {
  grid-area: section3C;
  display: flex;
  justify-content: center;
  align-items: center; }

.section2C img {
  width: 30vh;
  height: 30vh; }

.section2C {
  grid-area: section2C;
  display: flex;
  justify-content: center;
  align-items: center; }

.sectionC img {
  width: 30vh;
  height: 30vh; }

.sectionC {
  grid-area: sectionC;
  display: flex;
  justify-content: center;
  align-items: center; }

div section a:hover {
  transform: scale(1.2);
  transition: 0.7s; }

/*----------------------SERVICIOS---------------------*/
.contenedorS {
  height: 100vh;
  display: grid;
  grid-template-rows: 0.17fr 1fr 1fr 0.3fr;
  grid-template-areas: "header header"   "sectionS sectionS2" "sectionS3 sectionS4" "footer footer";
  grid-gap: 3px;
  background-color: white; }

.sectionS {
  grid-area: sectionS;
  position: relative;
  display: inline-block;
  text-align: center; }
  .sectionS p {
    color: white;
    position: absolute;
    top: 10px;
    left: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .sectionS img {
    max-width: 640px;
    max-height: 440px;
    width: 100%;
    height: 100%;
    object-fit: cover; }

.sectionS2 {
  grid-area: sectionS2;
  position: relative;
  display: inline-block;
  text-align: center; }
  .sectionS2 p {
    color: white;
    position: absolute;
    top: 10px;
    left: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .sectionS2 img {
    max-width: 640px;
    max-height: 440px;
    width: 100%;
    height: 100%;
    object-fit: cover; }

.sectionS3 {
  grid-area: sectionS3;
  position: relative;
  display: inline-block;
  text-align: center; }
  .sectionS3 p {
    color: white;
    position: absolute;
    top: 10px;
    left: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .sectionS3 img {
    max-width: 640px;
    max-height: 440px;
    width: 100%;
    height: 100%;
    object-fit: cover; }

.sectionS4 {
  grid-area: sectionS4;
  position: relative;
  display: inline-block;
  text-align: center; }
  .sectionS4 p {
    color: white;
    position: absolute;
    top: 10px;
    left: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .sectionS4 img {
    max-width: 640px;
    max-height: 440px;
    width: 100%;
    height: 100%;
    object-fit: cover; }

div section p {
  font-size: 25px;
  color: black; }

/*----------------------FOTOS--------------------------*/
.contenedorF {
  height: 100vh;
  display: grid;
  grid-template-rows: 0.2fr 3fr  0.3fr;
  grid-template-areas: "header header"   "Carousel Carousel"  "footer footer";
  font-family: 'Times New Roman', Times, serif; }

header h1 {
  font-size: 25px;
  color: black;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold; }

header {
  display: flex;
  align-content: center;
  align-items: center;
  text-align: center;
  align-self: center;
  justify-items: center; }

.sectionF {
  grid-area: sectionF;
  display: flex;
  justify-content: center;
  align-items: center; }

.sectionF2 {
  grid-area: sectionF2;
  display: flex;
  justify-content: center;
  align-items: center; }

.sectionF3 {
  display: none; }

.Carousel {
  grid-area: Carousel; }

/*-------------------SOBRE NOSOTROS--------------------*/
.contenedorSN {
  height: 100vh;
  display: grid;
  grid-template-rows: 0.2fr 2.3fr 0.3fr;
  grid-template-areas: "header header"   "sectionSN sectionSN" "sectionSN sectionSN" "footer footer";
  gap: 3px;
  background-color: rgba(73, 26, 26, 0.233); }

.sectionSN {
  grid-area: sectionSN;
  text-align: center;
  width: 60%;
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  text-align: center;
  padding: 30px;
  background-color: whitesmoke; }

/*-----------------Media Queries-----------------*/
@media only screen and (max-width: 650px) {
  header h1 {
    font-size: 17px; }
  header nav ul li {
    font-size: 15px; }
  /*---Home---*/
  .mainP {
    font-size: 20px; }
  /*--Contactos--*/
  .section3C img {
    width: 15vh;
    height: 15vh; }
  .section2C img {
    width: 15vh;
    height: 15vh; }
  .sectionC img {
    width: 15vh;
    height: 15vh; }
  /*---Fotos---*/
  .Carousel {
    display: flex;
    justify-content: center;
    align-items: center; } }

@media only screen and (min-width: 1000px) {
  .contenedor {
    height: 100vh;
    display: grid;
    grid-template-rows: 0.2fr 0.5fr 1fr 1fr 0.5fr;
    grid-template-areas: "header header header"  "main main main" "section section2 aside" "section3 section4 aside" "footer footer footer";
    gap: 5px; }
  .section4 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: section4; }
  /*----Fotos----*/
  .contenedorF {
    height: 100vh;
    display: grid;
    grid-template-rows: 0.3fr 3fr  0.2fr;
    grid-template-areas: "header header header"   "Carousel Carousel Carousel"  "footer footer footer"; }
  .sectionF3 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: sectionF3; } }
